.ui-accordion {
  &-header {
    display: block;
    cursor: pointer;
    position: relative;
    margin: $ui-accordion-header-margin;
    padding: $ui-accordion-header-padding;
    font-size: $ui-accordion-font-size;
  }

  &-content {
    padding: $ui-accordion-content-padding;
    border-top: 0;
    overflow: auto;
  }
}