.ui-button {
  display: inline-block;
  position: relative;
  padding: $ui-button-padding-v $ui-button-padding-h;
  line-height: normal;
  cursor: pointer;
  vertical-align: middle;
  text-align: center;
  overflow: visible;

  &,
  &:link,
  &:visited,
  &:hover,
  &:active {
    text-decoration: none;
  }
}

.ui-button-icon-only {
  .ui-button-text {
    display: none;
  }
}