.ui-button {
  display: inline-block;
  position: relative;
  padding: 0;
  line-height: normal;
  margin-right: .1em;
  cursor: pointer;
  vertical-align: middle;
  text-align: center;
  overflow: visible;

  &,
  &:link,
  &:visited,
  &:hover,
  &:active {
    text-decoration: none;
  }
}

.ui-button-icon-only {
  width: 2.2em;
}

button.ui-button-icon-only {
  width: 2.4em;
}

.ui-button-icons-only {
  width: 3.4em;
}

button.ui-button-icons-only {
  width: 3.7em;
}