.ui-datepicker {
  width: $ui-datepicker-width;
  padding: $ui-datepicker-padding;
  display: none;

  &-header {
    position: relative;
    padding: $ui-datepicker-header-padding;
  }

  &-prev,
  &-next {
    position: absolute;
    top: $ui-datepicker-header-padding;
    width: $ui-datepicker-header-nav-size;
    height: $ui-datepicker-header-nav-size;
  }

  &-prev {
    left: $ui-datepicker-header-padding;
  }

  &-next {
    right: $ui-datepicker-header-padding;
  }

  &-prev span,
  &-next span {
    display: block;
    position: absolute;
    left: 50%;
    margin-left: -8px;
    top: 50%;
    margin-top: -8px;
  }

  &-title {
    line-height: $ui-datepicker-title-line-height;
    text-align: center;

    select {
      font-size: 1em;
      margin: 1px 0;
    }
  }

  select.ui-datepicker-month,
  select.ui-datepicker-year {
    width: 45%;
  }

  table {
    width: 100%;
    font-size: $ui-datepicker-calendar-font-size;
    border-collapse: collapse;
  }

  th {
    padding: $ui-datepicker-calendar-th-padding;
    text-align: center;
    font-weight: bold;
    border: 0;
  }

  td {
    border: 0;
    width: percentage(1 / 7);
    padding: $ui-datepicker-calendar-td-padding;

    span,
    a {
      display: block;
      padding: $ui-datepicker-calendar-element-padding;
      text-align: center;
      text-decoration: none;
    }
  }

  &-buttonpane {
    background-image: none;
    margin: .7em 0 0 0;
    padding: 0 .2em;
    border-left: 0;
    border-right: 0;
    border-bottom: 0;

    button {
      float: right;
      margin: .5em .2em .4em;
      cursor: pointer;
      padding: .2em .6em .3em .6em;
      width: auto;
      overflow: visible;
      &.ui-datepicker-current {
        float: left;
      }
    }
  }

  &.ui-datepicker-multi {
    width: auto;
  }
}

// with multiple calendars
.ui-datepicker-multi {
  .ui-datepicker-group {
    float: left;

    table {
      width: 95%;
      margin: 0 auto .4em;
    }
  }

  &-2 .ui-datepicker-group {
    width: 50%;
  }

  &-3 .ui-datepicker-group {
    width: 33.3%;
  }

  &-4 .ui-datepicker-group {
    width: 25%;
  }

  .ui-datepicker-group-last .ui-datepicker-header,
  .ui-datepicker-group-middle .ui-datepicker-header {
    border-left-width: 0;
  }

  .ui-datepicker-buttonpane {
    clear: left;
  }
}

.ui-datepicker-row-break {
  clear: both;
  width: 100%;
  font-size: 0;
}

// RTL support
.ui-datepicker-rtl {
  direction: rtl;

  .ui-datepicker {
    &-prev {
      right: 2px;
      left: auto;

      &:hover {
        right: 1px;
        left: auto;
      }
    }

    &-next {
      left: 2px;
      right: auto;

      &:hover {
        left: 1px;
        right: auto;
      }
    }

    &-buttonpane {
      clear: right;

      button {
        float: left;
      }
    }

    &-buttonpane button.ui-datepicker-current,
    &-group {
      float: right;
    }

    &-group-last .ui-datepicker-header,
    &-group-middle .ui-datepicker-header {
      border-right-width: 0;
      border-left-width: 1px;
    }
  }
}