// states and images
.ui-icon {
  display: inline-block;
  font-size: 0;
  
  &:before {
    font-size: inherit;
    display: inline-block;
    width: 16px;
    height: 16px;
    content: '';
    background: url(../img/ui-icons.png);
  }

  &-blank:before { background-position: 16px 16px; }
  &-caret-1-n:before { background-position: 0 0; }
  &-caret-1-ne:before { background-position: -16px 0; }
  &-caret-1-e:before { background-position: -32px 0; }
  &-caret-1-se:before { background-position: -48px 0; }
  &-caret-1-s:before { background-position: -64px 0; }
  &-caret-1-sw:before { background-position: -80px 0; }
  &-caret-1-w:before { background-position: -96px 0; }
  &-caret-1-nw:before { background-position: -112px 0; }
  &-caret-2-n-s:before { background-position: -128px 0; }
  &-caret-2-e-w:before { background-position: -144px 0; }
  &-triangle-1-n:before { background-position: 0 -16px; }
  &-triangle-1-ne:before { background-position: -16px -16px; }
  &-triangle-1-e:before { background-position: -32px -16px; }
  &-triangle-1-se:before { background-position: -48px -16px; }
  &-triangle-1-s:before { background-position: -64px -16px; }
  &-triangle-1-sw:before { background-position: -80px -16px; }
  &-triangle-1-w:before { background-position: -96px -16px; }
  &-triangle-1-nw:before { background-position: -112px -16px; }
  &-triangle-2-n-s:before { background-position: -128px -16px; }
  &-triangle-2-e-w:before { background-position: -144px -16px; }
  &-arrow-1-n:before { background-position: 0 -32px; }
  &-arrow-1-ne:before { background-position: -16px -32px; }
  &-arrow-1-e:before { background-position: -32px -32px; }
  &-arrow-1-se:before { background-position: -48px -32px; }
  &-arrow-1-s:before { background-position: -64px -32px; }
  &-arrow-1-sw:before { background-position: -80px -32px; }
  &-arrow-1-w:before { background-position: -96px -32px; }
  &-arrow-1-nw:before { background-position: -112px -32px; }
  &-arrow-2-n-s:before { background-position: -128px -32px; }
  &-arrow-2-ne-sw:before { background-position: -144px -32px; }
  &-arrow-2-e-w:before { background-position: -160px -32px; }
  &-arrow-2-se-nw:before { background-position: -176px -32px; }
  &-arrowstop-1-n:before { background-position: -192px -32px; }
  &-arrowstop-1-e:before { background-position: -208px -32px; }
  &-arrowstop-1-s:before { background-position: -224px -32px; }
  &-arrowstop-1-w:before { background-position: -240px -32px; }
  &-arrowthick-1-n:before { background-position: 0 -48px; }
  &-arrowthick-1-ne:before { background-position: -16px -48px; }
  &-arrowthick-1-e:before { background-position: -32px -48px; }
  &-arrowthick-1-se:before { background-position: -48px -48px; }
  &-arrowthick-1-s:before { background-position: -64px -48px; }
  &-arrowthick-1-sw:before { background-position: -80px -48px; }
  &-arrowthick-1-w:before { background-position: -96px -48px; }
  &-arrowthick-1-nw:before { background-position: -112px -48px; }
  &-arrowthick-2-n-s:before { background-position: -128px -48px; }
  &-arrowthick-2-ne-sw:before { background-position: -144px -48px; }
  &-arrowthick-2-e-w:before { background-position: -160px -48px; }
  &-arrowthick-2-se-nw:before { background-position: -176px -48px; }
  &-arrowthickstop-1-n:before { background-position: -192px -48px; }
  &-arrowthickstop-1-e:before { background-position: -208px -48px; }
  &-arrowthickstop-1-s:before { background-position: -224px -48px; }
  &-arrowthickstop-1-w:before { background-position: -240px -48px; }
  &-arrowreturnthick-1-w:before { background-position: 0 -64px; }
  &-arrowreturnthick-1-n:before { background-position: -16px -64px; }
  &-arrowreturnthick-1-e:before { background-position: -32px -64px; }
  &-arrowreturnthick-1-s:before { background-position: -48px -64px; }
  &-arrowreturn-1-w:before { background-position: -64px -64px; }
  &-arrowreturn-1-n:before { background-position: -80px -64px; }
  &-arrowreturn-1-e:before { background-position: -96px -64px; }
  &-arrowreturn-1-s:before { background-position: -112px -64px; }
  &-arrowrefresh-1-w:before { background-position: -128px -64px; }
  &-arrowrefresh-1-n:before { background-position: -144px -64px; }
  &-arrowrefresh-1-e:before { background-position: -160px -64px; }
  &-arrowrefresh-1-s:before { background-position: -176px -64px; }
  &-arrow-4:before { background-position: 0 -80px; }
  &-arrow-4-diag:before { background-position: -16px -80px; }
  &-extlink:before { background-position: -32px -80px; }
  &-newwin:before { background-position: -48px -80px; }
  &-refresh:before { background-position: -64px -80px; }
  &-shuffle:before { background-position: -80px -80px; }
  &-transfer-e-w:before { background-position: -96px -80px; }
  &-transferthick-e-w:before { background-position: -112px -80px; }
  &-folder-collapsed:before { background-position: 0 -96px; }
  &-folder-open:before { background-position: -16px -96px; }
  &-document:before { background-position: -32px -96px; }
  &-document-b:before { background-position: -48px -96px; }
  &-note:before { background-position: -64px -96px; }
  &-mail-closed:before { background-position: -80px -96px; }
  &-mail-open:before { background-position: -96px -96px; }
  &-suitcase:before { background-position: -112px -96px; }
  &-comment:before { background-position: -128px -96px; }
  &-person:before { background-position: -144px -96px; }
  &-print:before { background-position: -160px -96px; }
  &-trash:before { background-position: -176px -96px; }
  &-locked:before { background-position: -192px -96px; }
  &-unlocked:before { background-position: -208px -96px; }
  &-bookmark:before { background-position: -224px -96px; }
  &-tag:before { background-position: -240px -96px; }
  &-home:before { background-position: 0 -112px; }
  &-flag:before { background-position: -16px -112px; }
  &-calendar:before { background-position: -32px -112px; }
  &-cart:before { background-position: -48px -112px; }
  &-pencil:before { background-position: -64px -112px; }
  &-clock:before { background-position: -80px -112px; }
  &-disk:before { background-position: -96px -112px; }
  &-calculator:before { background-position: -112px -112px; }
  &-zoomin:before { background-position: -128px -112px; }
  &-zoomout:before { background-position: -144px -112px; }
  &-search:before { background-position: -160px -112px; }
  &-wrench:before { background-position: -176px -112px; }
  &-gear:before { background-position: -192px -112px; }
  &-heart:before { background-position: -208px -112px; }
  &-star:before { background-position: -224px -112px; }
  &-link:before { background-position: -240px -112px; }
  &-cancel:before { background-position: 0 -128px; }
  &-plus:before { background-position: -16px -128px; }
  &-plusthick:before { background-position: -32px -128px; }
  &-minus:before { background-position: -48px -128px; }
  &-minusthick:before { background-position: -64px -128px; }
  &-close:before { background-position: -80px -128px; }
  &-closethick:before { background-position: -96px -128px; }
  &-key:before { background-position: -112px -128px; }
  &-lightbulb:before { background-position: -128px -128px; }
  &-scissors:before { background-position: -144px -128px; }
  &-clipboard:before { background-position: -160px -128px; }
  &-copy:before { background-position: -176px -128px; }
  &-contact:before { background-position: -192px -128px; }
  &-image:before { background-position: -208px -128px; }
  &-video:before { background-position: -224px -128px; }
  &-script:before { background-position: -240px -128px; }
  &-alert:before { background-position: 0 -144px; }
  &-info:before { background-position: -16px -144px; }
  &-notice:before { background-position: -32px -144px; }
  &-help:before { background-position: -48px -144px; }
  &-check:before { background-position: -64px -144px; }
  &-bullet:before { background-position: -80px -144px; }
  &-radio-on:before { background-position: -96px -144px; }
  &-radio-off:before { background-position: -112px -144px; }
  &-pin-w:before { background-position: -128px -144px; }
  &-pin-s:before { background-position: -144px -144px; }
  &-play:before { background-position: 0 -160px; }
  &-pause:before { background-position: -16px -160px; }
  &-seek-next:before { background-position: -32px -160px; }
  &-seek-prev:before { background-position: -48px -160px; }
  &-seek-end:before { background-position: -64px -160px; }
  &-seek-start:before { background-position: -80px -160px; }
  &-seek-first:before { background-position: -80px -160px; }
  &-stop:before { background-position: -96px -160px; }
  &-eject:before { background-position: -112px -160px; }
  &-volume-off:before { background-position: -128px -160px; }
  &-volume-on:before { background-position: -144px -160px; }
  &-power:before { background-position: 0 -176px; }
  &-signal-diag:before { background-position: -16px -176px; }
  &-signal:before { background-position: -32px -176px; }
  &-battery-0:before { background-position: -48px -176px; }
  &-battery-1:before { background-position: -64px -176px; }
  &-battery-2:before { background-position: -80px -176px; }
  &-battery-3:before { background-position: -96px -176px; }
  &-circle-plus:before { background-position: 0 -192px; }
  &-circle-minus:before { background-position: -16px -192px; }
  &-circle-close:before { background-position: -32px -192px; }
  &-circle-triangle-e:before { background-position: -48px -192px; }
  &-circle-triangle-s:before { background-position: -64px -192px; }
  &-circle-triangle-w:before { background-position: -80px -192px; }
  &-circle-triangle-n:before { background-position: -96px -192px; }
  &-circle-arrow-e:before { background-position: -112px -192px; }
  &-circle-arrow-s:before { background-position: -128px -192px; }
  &-circle-arrow-w:before { background-position: -144px -192px; }
  &-circle-arrow-n:before { background-position: -160px -192px; }
  &-circle-zoomin:before { background-position: -176px -192px; }
  &-circle-zoomout:before { background-position: -192px -192px; }
  &-circle-check:before { background-position: -208px -192px; }
  &-circlesmall-plus:before { background-position: 0 -208px; }
  &-circlesmall-minus:before { background-position: -16px -208px; }
  &-circlesmall-close:before { background-position: -32px -208px; }
  &-squaresmall-plus:before { background-position: -48px -208px; }
  &-squaresmall-minus:before { background-position: -64px -208px; }
  &-squaresmall-close:before { background-position: -80px -208px; }
  &-grip-dotted-vertical:before { background-position: 0 -224px; }
  &-grip-dotted-horizontal:before { background-position: -16px -224px; }
  &-grip-solid-vertical:before { background-position: -32px -224px; }
  &-grip-solid-horizontal:before { background-position: -48px -224px; }
  &-gripsmall-diagonal-se:before { background-position: -64px -224px; }
  &-grip-diagonal-se:before { background-position: -80px -224px; }
}