.ui-menu {
  list-style: none;
  padding: 0;
  margin: 0;
  display: block;
  outline: none;
  min-width: $ui-menu-min-width;

  & & {
    position: absolute;
    z-index: $ui-zindex-menu !important;
  }

  &-item {
    margin: 0;
    cursor: pointer;
  }

  &-item-wrapper {
    position: relative;
    padding: $ui-menu-item-wrapper-padding-v $ui-menu-item-wrapper-padding-h;
    border: $ui-border-width solid transparent;
    @include ui-transition($ui-menu-item-wrapper-transition);
  }

  &-divider {
    margin: $ui-menu-divider-margin-v 0;
    border: 0;
    border-bottom: $ui-menu-divider-border;
  }

  &-icon {
    float: right;
  }
}
