.ui-menu {
  list-style: none;
  padding: 0;
  margin: 0;
  display: block;
  outline: none;
  min-width: $ui-menu-min-width;

  & & {
    position: absolute;
  }

  &-item {
    margin: 0;
    cursor: pointer;
  }

  &-item-wrapper {
    position: relative;
    padding: $ui-menu-item-wrapper-padding;
    border: $ui-border-width solid transparent;
  }

  &-divider {
    margin: $ui-menu-divider-margin;
    height: 0;
    font-size: 0;
    line-height: 0;
    border-width: $ui-menu-divider-border-width;
  }

  &-icon {
    float: right;
  }
}
