.ui-progressbar {
  height: $ui-progressbar-height;
  text-align: left;
  overflow: hidden;

  &-value {
    margin: -$ui-widget-border-width;
    height: 100%;
  }

  &-overlay {
    height: 100%;
    opacity: $ui-progressbar-overlay-opacity;
  }

  &-indeterminate &-value {
    background-image: none;
  }
}
