.ui-slider {
  position: relative;
  text-align: left;

  &-handle {
    position: absolute;
    z-index: 2;
    width: $ui-slider-handle-size;
    height: $ui-slider-handle-size;
    cursor: pointer;
    touch-action: none;
  }

  &-range {
    position: absolute;
    z-index: 1;
    font-size: $ui-slider-range-font-size;
    display: block;
    border: 0;
    background-position: 0 0;
  }

  &-horizontal {
    height: $ui-slider-horizontal-height;

    .ui-slider-handle {
      // Автоматическое позиционирование
      top: ($ui-slider-horizontal-height - $ui-slider-handle-size) / 2 - ($ui-border-width * 2);
      margin-left: $ui-slider-handle-size / -2;
    }

    .ui-slider-range {
      top: 0;
      height: 100%;
    }

    .ui-slider-range-min {
      left: 0;
    }

    .ui-slider-range-max {
      right: 0;
    }
  }

  &-vertical {
    width: $ui-slider-vertical-width;
    height: $ui-slider-vertical-height;

    .ui-slider-handle {
      // Автоматическое позиционирование
      left: ($ui-slider-vertical-width - $ui-slider-handle-size) / 2 - $ui-border-width;
      margin-left: 0;
      margin-bottom: $ui-slider-handle-size / -2;
    }

    .ui-slider-range {
      left: 0;
      width: 100%;
    }

    .ui-slider-range-min {
      bottom: 0;
    }

    .ui-slider-range-max {
      top: 0;
    }
  }
}
