.ui-tabs {
  position: relative;
  padding: $ui-tabs-padding;

  &-nav {
    margin: 0;
    padding: $ui-tabs-nav-padding;

    .ui-tabs-anchor {
      float: left;
      padding: .5em 1em;
      text-decoration: none;
    }
  }

  &-tab {
    list-style: none;
    float: left;
    position: relative;
    top: 0;
    margin: 0 $ui-tabs-nav-offset 0 0;
    border-bottom: none !important;
    padding: 0;
    white-space: nowrap;

    &.ui-tabs-active,
    &.ui-state-disabled,
    &.ui-tabs-loading {
      .ui-tabs-anchor {
        cursor: text;
      }
    }
  }

  &-collapsible .ui-tabs-nav li.ui-tabs-active .ui-tabs-anchor {
    cursor: pointer;
  }

  &-panel {
    display: block;
    border-width: 0;
    padding: $ui-tabs-panel-padding;
    background: none;
  }
}
