// 1. Base
// ---------------------------------------------------------
$ui-border-radius: 3px !default;
$ui-border-width:  0.08em !default;
$ui-font-family:   Arial, Helvetica, sans-serif !default;
$ui-font-size:     1em !default;
$ui-padding-v:     0.4em !default; // v - vertical
$ui-padding-h:     1em !default; // h - horizontal

// 2. Colors
// ---------------------------------------------------------
$ui-gray-darker:  #333333 !default;
$ui-gray-dark:    #666666 !default;
$ui-gray:         #aaaaaa !default;
$ui-gray-light:   #dddddd !default;
$ui-gray-lighter: #e9e9e9 !default;

$ui-text-color:   $ui-gray-darker !default;

// 3. Options
// ---------------------------------------------------------
$enable-rounded:     true !default;
$enable-shadows:     true !default;
$enable-gradients:   false !default;
$enable-transitions: false !default;

// 4. Widgets
// ---------------------------------------------------------
$ui-widget-border-width:         $ui-border-width !default;
$ui-widget-font-family:          $ui-font-family !default;
$ui-widget-font-size:            $ui-font-size !default;

$ui-widget-content-border-color: $ui-gray-light !default;
$ui-widget-content-background:   #ffffff !default;
$ui-widget-content-color:        $ui-text-color !default;

$ui-widget-header-border-color:  $ui-gray-light !default;
$ui-widget-header-background:    $ui-gray-lighter !default;
$ui-widget-header-color:         $ui-text-color !default;
$ui-widget-header-font-weight:   600 !default;

$ui-widget-overlay-background:   $ui-gray !default;
$ui-widget-overlay-opacity:      0.3 !default;

$ui-widget-shadow:               0 0 5px $ui-gray-dark !default;

// 5. States
// ---------------------------------------------------------
$ui-states-border-width: $ui-border-width !default;

$ui-state-default-border-color:   #c5c5c5 !default;
$ui-state-default-background:     #f6f6f6 !default;
$ui-state-default-color:          #454545 !default;

$ui-state-hover-border-color:     #cccccc !default;
$ui-state-hover-background:       #ededed !default;
$ui-state-hover-color:            #2b2b2b !default;

$ui-state-focus-border-color:     $ui-state-hover-border-color !default;
$ui-state-focus-background:       $ui-state-hover-background !default;
$ui-state-focus-color:            $ui-state-hover-color !default;

$ui-state-active-border-color:    #003eff !default;
$ui-state-active-background:      #007fff !default;
$ui-state-active-color:           #ffffff !default;

$ui-state-highlight-border-color: #dad55e !default;
$ui-state-highlight-background:   #fffa90 !default;
$ui-state-highlight-color:        #777620 !default;

$ui-state-error-border-color:     #f1a899 !default;
$ui-state-error-background:       #fddfdf !default;
$ui-state-error-color:            #5f3f3f !default;

// 6. Icons
// ---------------------------------------------------------
$ui-icon-font-path: '../fonts/' !default;
$ui-icon-font-name: 'jquery-ui-icons' !default;

// 7. Corner radius
// ---------------------------------------------------------
$ui-corner-border-radius: $ui-border-radius !default;

// 8. Accordion
// ---------------------------------------------------------
$ui-accordion-header-margin:   2px 0 0 0 !default;
$ui-accordion-header-padding:  $ui-padding-v $ui-padding-h !default;
$ui-accordion-font-size:       $ui-font-size !default;

$ui-accordion-content-padding: 1em 2.2em !default;

// 9. Button
// ---------------------------------------------------------
$ui-button-padding-v: $ui-padding-v !default;
$ui-button-padding-h: $ui-padding-h !default;

// 10. Datepicker
// ---------------------------------------------------------
$ui-datepicker-width:                    17em !default;
$ui-datepicker-padding:                  $ui-padding-v !default;

$ui-datepicker-header-padding-v:         $ui-padding-v !default;
$ui-datepicker-header-padding-h:         $ui-padding-v !default;

$ui-datepicker-title-line-height:        1.6em !default;

$ui-datepicker-header-nav-size:          $ui-datepicker-title-line-height !default;

$ui-datepicker-calendar-font-size:       0.9em !default;
$ui-datepicker-calendar-th-padding:      0.7em 0.3em !default;
$ui-datepicker-calendar-td-padding:      1px !default;
$ui-datepicker-calendar-element-padding: 0.4em 0.2em !default;

// 11. Dialog
// ---------------------------------------------------------
$ui-dialog-padding:                 $ui-padding-v !default;

$ui-dialog-titlebar-padding-v:      $ui-padding-v !default;
$ui-dialog-titlebar-padding-h:      $ui-padding-h !default;
$ui-dialog-titlebar-close-size:     1em !default;
$ui-dialog-titlebar-close-padding:  1px !default;

$ui-dialog-content-padding:         0.5em 1em !default;

$ui-dialog-buttonpane-border-width: $ui-border-width 0 0 0 !default;
$ui-dialog-buttonpane-padding:      $ui-dialog-padding 0 0 !default;
$ui-dialog-buttonpane-offset:       0.4em !default;

// 12. Menu
// ---------------------------------------------------------
$ui-menu-min-width:            7.5em !default;
$ui-menu-item-wrapper-padding-v: $ui-padding-v !default;
$ui-menu-item-wrapper-padding-h: $ui-padding-h !default;

$ui-menu-divider-margin-v:     0.8em !default;
$ui-menu-divider-border:       $ui-border-width solid $ui-widget-content-border-color !default;

// 13. Progressbar
// ---------------------------------------------------------
$ui-progressbar-height:          2em !default;
$ui-progressbar-overlay-opacity: 0.25 !default;

// 14. Selectable
// ---------------------------------------------------------
$ui-selectable-border: $ui-border-width dotted $ui-gray-darker !default;

// 15. Selectmenu
// ---------------------------------------------------------
$ui-selectmenu-optgroup-font-size:   $ui-font-size !default;
$ui-selectmenu-optgroup-font-weight: bold !default;
$ui-selectmenu-optgroup-line-height: 1.5 !default;
$ui-selectmenu-optgroup-padding-v:   $ui-menu-item-wrapper-padding-v !default;
$ui-selectmenu-optgroup-padding-h:   $ui-menu-item-wrapper-padding-h !default;

$ui-selectmenu-button-padding-v:     $ui-button-padding-v !default;
$ui-selectmenu-button-padding-h:     $ui-button-padding-h !default;
$ui-selectmenu-button-line-height:   1.5 !default;

// 16. Slider
// ---------------------------------------------------------
$ui-slider-handle-size:       1.2em !default;
$ui-slider-range-font-size:   0.7em !default;

$ui-slider-horizontal-height: 0.8em !default;

$ui-slider-vertical-width:    $ui-slider-horizontal-height !default;
$ui-slider-vertical-height:   200px !default;




