nav.navbar.navbar-static-top.navbar-default(role="navigation")
    .container
        .navbar-header
            a.navbar-brand(href="/") JQuery Themes

        ul.nav.navbar-nav
            li.nav-item: a.nav-link(href="/index.html") Home
            li.nav-item
                a.nav-link.dropdown-toggle(href="#", data-toggle="dropdown") Themes
                ul.dropdown-menu
                    li: a.dropdown-item(href="/default.html") Default
                    li: a.dropdown-item(href="/bootstrap-3.html") Bootstrap 3
            li.nav-item: a.nav-link(href="#") About

        ul.nav.navbar-nav.pull-right
            li.nav-item: a.nav-link(href="#") GitHub
